<div class="container mt-4">
  <div class="mb-3">
    <button class="btn btn-primary" routerLink="/add-url" *ngIf="(user$ | async)?.id !== 0">Add New URL</button>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Short URL Code</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let url of shortUrls$ | async">
      <td>{{ url.id }}</td>
      <td>
        <a [href]="url.originalUrl" target="_blank">{{ url.shortenUrl }}</a>
      </td>
      <td>{{ url.description }}</td>
      <td>
        <button class="btn btn-info btn-sm" (click)="getShortUrlById(url.id)">View</button>
        <button *ngIf="canDelete(url)" class="btn btn-danger btn-sm" (click)="deleteShortUrlById(url.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
